body {
    font-family: Arial, sans-serif;
    padding: 30px;
    background-color: #f4f4f4;
}

.container {
    max-width: 500px;
    margin: 10px auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/*heading shift*/
h2, h3 {
    margin-left: 5px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #FF7A00;
    color: white;
    border: 1px solid #E66A00;
    cursor: pointer;
}

button:hover {
    background-color: #E66A00;
}

.assignments {
    margin-top: 20px;
}